modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"
ignorePorts = false
